
.post{
    background-color: $colorprimario;
    border-radius: 5px;
    padding: 10px;
    color: white;
    button{
        border: 0;
        padding: 10px 20px;
        background-color: blue;
        color: white;
}
h5{
    font-size:$fuentetamanioTitulo;
}
p{
    font-size: 18px;
}
}
